@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  max-width: 1280px; /* bu max-w-7xl ga teng */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;  /* px-4 */
  padding-right: 1rem;
}
